@import url('normalize.css');

* {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 800px) {
  body {
    align-items: center;
    background-image: url(../assets/images/background-desktop.png);
    display: flex;
    justify-content: center;
  }
  .container {
    max-width: 40vw;
    margin: 10rem;
  }

  .form--container {
    width: 100%;
    height: 100%;
  }
  .name__form__container,
  .email__form__container,
  .email--error--container,
  .form__github__container,
  .main__button__container {
    width: 100%;
  }
  /* image */

  .line__image {
    bottom: 9rem;
    position: absolute;
    width: 50vw;
  }
  .circle__image {
    position: absolute;
    right: 10rem;
    width: 10vw;
  }
  .container {
    background-image: url(../assets/images/pattern-squiggly-line-top.svg);
    background-position-y: top;
    background-position-x: right;
  }
  .form {
    background-image: url(../assets/images/pattern-squiggly-line-bottom-desktop.svg);
    background-position-x: left;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: 65%;
    gap: 3rem;
    height: 70vh;
  }
}
