@import url('normalize.css');

* {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 800px) {
  body {
    background-image: url(../assets/images/background-desktop.png);
    /* background-image: url(../assets/images/pattern-lines.svg); */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    max-width: 40vw;
    margin: 10rem;
  }

  .form--container {
    width: 100%;
    height: 100%;
  }
  .name__form__container,
  .email__form__container,
  .email--error--container,
  .form__github__container,
  .main__button__container {
    width: 100%;
  }
}
