@import url('normalize.css');

* {
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-300: hsl(252, 6%, 83%);
  --neutral-500: hsl(245, 15%, 58%);
  --neutral-700: hsl(245, 19%, 35%);
  --neutral-900: hsl(248, 70%, 10%);

  /* Orange */
  --orange-500: hsl(7, 88%, 67%);
  --orange-700: hsl(7, 71%, 60%);

  /* Gradient */
  --Gradient-text: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);

  /* Typogtaphy */

  /* Body */
  -font-size-labels: 20px;

  /* Font */

  font-family: 'Inconsolata', serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

body {
  font-family: var(font-family);
  background-image: url(../assets/images/background-mobile.png);

  font-size: var(--font-size-labels);
  display: flex;
}
/* main container */
.container {
  background-image: url(../assets/images/pattern-squiggly-line-top.svg);
  background-repeat: no-repeat;
  display: flex;
  background-size: 9rem;
  background-position: right;
  background-position-y: top;
  flex-direction: column;
  margin: 0.5rem, 0.1rem;
  width: 100%;
}
.header--info {
  width: 100%;
  display: block;
}
.logo__container {
  display: -webkit-flex;
  width: 100%;
  justify-content: center;
}
.logo {
  color: var(--neutral-0);
  justify-self: center;
  display: -webkit-flex;
  font-size: 1.6rem;
  margin: 2rem 0;
}

/* h1 and article  */
.info {
  color: var(--neutral-0);
}
.info,
.article-info {
  text-align: center;
}
.article-info {
  color: var(--neutral-500);
  font-size: 1.1rem;
}

/* avatar container */
.avatar {
  margin: 0 1rem;
}
.avatar__info {
  color: var(--neutral-300);
  margin-top: 2rem;
  font-size: 1rem;
}

/* drad and drop container */
.drag__drop {
  background-color: var(--neutral-700);
  opacity: 0.5;
  border: dotted;
  border-radius: 10px;
  border-color: var(--neutral-0);
  margin: 0.5rem 0rem;
  height: 17vh;
  display: flex;
  flex-direction: column;
}

.img__upload__container {
  background-color: var(--neutral-500);
  height: 2rem;
  width: 2rem;
  margin: 1rem 0 0 0;
  align-self: center;
  border-radius: 10px;
  display: flex;
}

/* avatar container */

.avatar--container {
  display: -webkit-flex;
  flex-direction: column;
}

.avatar__photo__info {
  color: var(--neutral-300);
  font-size: 0.7rem;
  text-align: center;
  padding: 0 0 0 0.5rem;
}

/* form */
.form {
  display: flex;
  margin: 0.5rem 0.5rem;
  background-image: url(../assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg);
  background-size: cover;
  background-position: bottom;
  background-position-x: left;
  background-size: 11rem;
  background-repeat: no-repeat;
  gap: 3rem;
  height: 70vh;
}
.name__form__container,
.email__form__container,
.form__github__container,
.main__button__container {
  display: block;
  margin: 1rem 0.5rem;
}

.label__name,
.email__label,
.github__label {
  color: var(--neutral-0);
  display: block;
}

.input__name,
.email__input,
.github__input {
  width: 89vw;
  border-radius: 7px;
  padding: 0.4rem 0;
  margin: 0.1rem 0;
  border-color: var(--neutral-0);
  background-color: var(--neutral-700);
  opacity: 0.5;
}
::placeholder {
  color: var(--neutral-0);
}

/* button */
.main__btn {
  display: flex;
  justify-self: center;
  padding: 0.5rem 4.7rem;
  width: 90vw;
  border-radius: 7px;
  background-color: var(--orange-500);
  margin: 1rem 0;
  text-align: center;
}

.remove,
.change {
  color: var(--neutral-0);
  background-color: var(--neutral-500);
  border: none;
  border-radius: 3px;
  padding: 0.3rem;
}

/* hidden container */
.drag__drop__buttons {
  /* display: -webkit-flex; */
  display: none;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.drag__drop__info {
  color: var(--neutral-0);
  text-align: center;
  vertical-align: bottom;
  padding: 0.5rem 0 0.7rem 0;
}

.picture--img--container,
.image--error--container {
  display: -webkit-flex;
}

.image--error--container {
  display: none;
}
.info__error,
.email__error__info {
  font-size: 0.7rem;
  padding-left: 0.5rem;
  color: var(--orange-700);
}

.image__error {
  color: var(--orange-700);
}

.email--error--container {
  display: -webkit-flex;
  margin: 0 0.5rem 0 0.5rem;
  visibility: hidden;
  margin-top: -0.5rem;
}
