@import url('normalize.css');

* {
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-300: hsl(252, 6%, 83%);
  --neutral-500: hsl(245, 15%, 58%);
  --neutral-700: hsl(245, 19%, 35%);
  --neutral-900: hsl(248, 70%, 10%);

  /* Orange */
  --orange-500: hsl(7, 88%, 67%);
  --orange-700: hsl(7, 71%, 60%);

  /* Gradient */
  --Gradient-text: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);

  /* Typogtaphy */

  /* Body */
  -font-size-labels: 20px;

  /* Font */

  font-family: 'Inconsolata', serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

body {
  background-image: url(../assets/images/background-mobile.png);
  display: flex;
  font-family: var(font-family);
  font-size: var(--font-size-labels);
  flex-direction: column;
}
.lines {
  position: absolute;
  width: 100%;
}
/* main container */
.container {
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: 3rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.header--info {
  display: -webkit-flex;
  flex-direction: column;
  width: 100%;
}

.line__image {
  max-width: 100%;
  font-size: larger;
}
.logo__container {
  display: -webkit-flex;
  margin: auto;
  flex-direction: column;
}
.logo {
  color: var(--neutral-0);
  display: -webkit-flex;
  /* font-size: 1rem; */
  justify-self: center;
  margin: 2rem 3rem;
}

/* h1 and article  */
.info {
  color: var(--neutral-0);
}
.info,
.article-info {
  text-align: center;
}
.article-info {
  color: var(--neutral-500);
  font-size: 1.1rem;
}

/* avatar container */
.avatar {
  margin: 0 1rem;
}
.avatar__info {
  color: var(--neutral-300);
  font-size: 1rem;
  margin-top: 2rem;
}

/* drad and drop container */
.drag__drop {
  background-color: var(--neutral-700);
  border-color: var(--neutral-0);
  border-radius: 10px;
  border: dotted;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 27vh;
  margin: 0.5rem 0rem;
  opacity: 0.5;
}

.img__upload__container {
  align-self: center;
  background-color: var(--neutral-500);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 2rem;
  margin: 1rem 0 0 0;
  width: 2rem;
}

/* avatar container */

.avatar--container {
  display: -webkit-flex;
  flex-direction: column;
}

.avatar__photo__info {
  color: var(--neutral-300);
  font-size: 0.7rem;
  padding: 0 0 0 0.5rem;
  text-align: center;
}

/* form */

.form {
  background-image: url(../assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg);
  background-position-x: left;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  gap: 3rem;
  height: 95vh;
  justify-content: center;
  margin: 0.5rem 1rem;
  max-width: auto;
}
.name__form__container,
.email__form__container,
.form__github__container,
.main__button__container {
  display: -webkit-flex;
  flex-direction: column;
  margin: 0.5rem 0 1rem 0;
  width: 92vw;
}

.label__name,
.email__label,
.github__label {
  color: var(--neutral-0);
  display: block;
}

.input__name,
.email__input,
.github__input {
  background-color: var(--neutral-700);
  border-color: var(--neutral-0);
  border-radius: 7px;
  margin: 0.1rem 0;
  opacity: 0.5;
  padding: 0.7rem 0;
  width: 100%;
  color: rgb(255, 251, 0);
}
::placeholder {
  color: var(--neutral-0);
}
input[type='file'] {
  display: none;
}
.file__upload {
  align-items: center;
  display: flex;
  margin-top: 0.1rem;
  padding: 1rem;
  position: absolute;
}

/* button */
.main__btn {
  background-color: var(--orange-500);
  border-color: transparent;
  border-radius: 7px;
  color: var(--neutral-900);
  display: -webkit-flex;
  font-weight: 900;
  justify-content: center;
  margin: 1rem 0;
  padding: 1rem;
  width: auto;
}

.main__btn:hover {
  background-color: #3e8e41;
}

.main__btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.remove,
.change {
  background-color: var(--neutral-500);
  border-radius: 3px;
  border: none;
  color: var(--neutral-0);
  padding: 0.3rem;
  cursor: pointer;
}
.remove:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.change:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* hidden container */
.drag__drop__buttons {
  display: none;
  gap: 1rem;
  justify-content: center;
}

.circle__image {
  /* display: none; */
  font-size: 1rem;
}
.drag__drop__info {
  color: var(--neutral-0);
  justify-content: center;
  margin-top: 2rem;
  text-align: center;
}

.picture--img--container,
.image--error--container {
  display: -webkit-flex;
}

.image--error--container {
  display: none;
}
.info__error,
.email__error__info {
  color: var(--orange-700);
  font-size: 0.7rem;
  padding-left: 0.5rem;
}

.image__error {
  color: var(--orange-700);
}

.email--error--container {
  display: -webkit-flex;
  margin: -0.5rem 0.5rem -0.5rem 0.5rem;
  visibility: hidden;
}

/* Id avatar */

#avatarImg {
  position: absolute;
  right: 0rem;
  bottom: 0rem;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: none;
}

/* .ticket--container,
.form--info--contatiner,
.logo__container {
  display: none;
} */

/* .ticket--info--container,
.ticket--container {
  display: block;
} */

.form--info--contatiner,
.logo__container {
  display: none;
}
